
<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="hilltopads-site-verification" content="016a18329ebc323e8d94712e88cb5f11cc57f826" />
    <!-- Site Metas -->
    <title>Gamora Tech Blog - Design, Games and Notícias</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="canonical" href="https://printmer.com.br/">
    <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "SoftwareApplication",
        "name": "Gamora Tech Blog, estratégias PUBG, segredos PUBG, PUBG New State, joaninha, pônei e etc, descobrir safe, safe fechar",
        "applicationCategory":"BusinessApplication",
        "applicationSubCategory":"Blog PUBG,, estratégias PUBG, segredos PUBG, PUBG New State, joaninha, pônei e etc, descobrir safe, safe fechar",
        "description": "Blog da Gamora Design e-Sports, , estratégias PUBG, segredos PUBG, PUBG New State, joaninha, pônei e etc, descobrir safe, safe fechar",
        "headline": "BLog sobre PUBG e outros games, , estratégias PUBG, segredos PUBG, PUBG New State, joaninha, pônei e etc, descobrir safe, safe fechar",
        "inLanguage": "Portuguese (Brazil)",
        "url": "https://printmer.com.br/",
        "image": "https://printmer.com.br/images/LOGO BRANCA.png",
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "5",
            "reviewCount": "8"
        }
    }
</script>
<meta property="og:url" content="https://printmer.com.br/">
<meta property="og:title" content="BLog sobre PUBG e outros games, , estratégias PUBG, segredos PUBG, PUBG New State, joaninha, pônei e etc, descobrir safe, safe fechar">
<meta property="og:description" content="BLog sobre PUBG e outros games, , estratégias PUBG, segredos PUBG, PUBG New State, joaninha, pônei e etc, descobrir safe, safe fechar">
<meta property="og:type" content="website">
<meta property="og:site_name" content="BLog sobre PUBG e outros games, , estratégias PUBG, segredos PUBG, PUBG New State, joaninha, pônei e etc, descobrir safe, safe fechar">
<meta property="og:locale" content="pt_BR">
<meta property="og:image" content="https://printmer.com.br/images/LOGO BRANCA.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="600">
<meta property="og:image:height" content="600">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="https://printmer.com.br/images/favicon3.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="https://printmer.com.br/images/apple-touch-icon.png">

    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 
    
    <!-- Bootstrap core CSS -->
    <link href="https://printmer.com.br/css/bootstrap.css" rel="stylesheet">
    <!-- FontAwesome Icons core CSS -->
    <link href="https://printmer.com.br/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://printmer.com.br/style.css" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="https://printmer.com.br/css/responsive.css" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="https://printmer.com.br/css/colors.css" rel="stylesheet">

    <!-- Version Tech CSS for this template -->
    <link href="https://printmer.com.br/css/version/tech.css" rel="stylesheet">

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7X46XZ0NSH');
</script>
<script type="text/javascript" src="https://s.skimresources.com/js/193962X1671484.skimlinks.js"></script>

<script data-ad-client="ca-pub-6037321559366561" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



</head>
<body>

    <div id="wrapper">
        <header class="tech-header header">
            <div class="container-fluid">
                <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img style="max-width: 50px;" src="https://printmer.com.br/images/LOGO BRANCA.png" alt=""></a>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Início</a>
                            </li>
                            <li class="nav-item dropdown has-submenu menu-large hidden-md-down hidden-sm-down hidden-xs-down">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aplicativos</a>
                                <ul class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                                    <li>
                                        <div class="container">
                                            <div class="mega-menu-content clearfix">
                                                <div class="tab">
                                                    <button class="tablinks active" onclick="openCategory(event, 'cat01')">Ferramentas</button>
                                                    <button style="display: none;" class="tablinks" onclick="openCategory(event, 'cat02')">Technology</button>
                                                   
                                                </div>
                            
                                                <div class="tab-details clearfix">
                                                    <div id="cat01" class="tabcontent active">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="https://printmer.com.br/realidade_aumentada" title="">
                                                                            <img src="https://printmer.com.br/images/ra.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div><!-- end hover -->
                                                                            <span class="menucat">Ferramentas</span>
                                                                        </a>
                                                                    </div><!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="https://printmer.com.br/realidade_aumentada" title="">Experimente nossa aplicação de Realidade Aumentada</a></h4>
                                                                    </div><!-- end meta -->
                                                                </div><!-- end blog-box -->
                                                            </div>
                            
                                                            
                                                        </div><!-- end row -->
                                                    </div>
                                                    <div style="display: none;" id="cat02" class="tabcontent">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="../upload/tech_menu_05.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div><!-- end hover -->
                                                                            <span class="menucat">Technology</span>
                                                                        </a>
                                                                    </div><!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">2017 summer stamp will have design models here</a></h4>
                                                                    </div><!-- end meta -->
                                                                </div><!-- end blog-box -->
                                                            </div>
                            
                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="../upload/tech_menu_06.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div><!-- end hover -->
                                                                            <span class="menucat">Technology</span>
                                                                        </a>
                                                                    </div><!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="../tech-single.html" title="">Which color is the most suitable color for you?</a></h4>
                                                                    </div><!-- end meta -->
                                                                </div><!-- end blog-box -->
                                                            </div>
                            
                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="../upload/tech_menu_07.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div><!-- end hover -->
                                                                            <span class="menucat">Technology</span>
                                                                        </a>
                                                                    </div><!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">Subscribe to these sites to keep an eye on the fashion</a></h4>
                                                                    </div><!-- end meta -->
                                                                </div><!-- end blog-box -->
                                                            </div>
                            
                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="../upload/tech_menu_08.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div><!-- end hover -->
                                                                            <span class="menucat">Technology</span>
                                                                        </a>
                                                                    </div><!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">The most trends of this year with color combination</a></h4>
                                                                    </div><!-- end meta -->
                                                                </div><!-- end blog-box -->
                                                            </div>
                                                        </div><!-- end row -->
                                                    </div>
                                                   
                                                </div><!-- end tab-details -->
                                            </div><!-- end mega-menu-content -->
                                        </div>
                                    </li>
                                </ul>
                            </li>
                           
                            <li class="nav-item">
                                <a class="nav-link" href="https://printmer.com.br/erangel">Erangel</a>
                            </li>                   
                            <li class="nav-item">
                                <a class="nav-link" href="https://printmer.com.br/miramar">Miramar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://printmer.com.br/vikendi">Vikendi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://printmer.com.br/savage">Sanhok</a>
                            </li>
                        </ul>
                        <ul style="display:none" class="navbar-nav mr-2">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-rss"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-android"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-apple"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div><!-- end container-fluid -->
        </header><!-- end market-header -->



{{{body}}}




<img class="logoLado" src="https://printmer.com.br/images/logolado.png" style="max-width: 5%; max-width: 10%;transform: rotate(270deg);position: fixed;top: 50%;left: -3%;">
        <footer class="footer" >
            <div class="container" >
                <div class="row">
                    <div class="col-lg-7">
                        <div class="widget">
                            <div class="footer-text text-left">
                                <a href="/"><img style="max-width: 150px;" src="https://printmer.com.br/images/LOGO BRANCA.png" alt="" class="img-fluid"></a>
                                <p>O Blog da Gamora Design serve para informar os clientes e expandir seus horizontes de possibilidades.</p>
                                <div class="social">
                                    <a href="https://twitter.com/Gamora" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>              
                                    <a href="https://twitter.com/Gamora" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="https://instagram.com/Gamora_design" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="https://wa.me/5527995083059?&text=Olá,%20gostaria%20de%20saber%20mais!" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-whatsapp"></i></a>
                                 
                                </div>

                                <hr class="invis">

                                <div class="newsletter-widget text-left">
                                    <div class="form-inline">
                                        <input type="text" class="form-control" id="melhorEmail" placeholder="Utilize o seu melhor e-mail">
                                        <button id="newsletter" class="btn btn-primary">ENVIAR</button>
                                        <p id="retorna" style="display: none;"></p>
                                    </div>
                                </div><!-- end newsletter -->
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Nossa Equipe</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="#">Gamora Designer <span></span></a></li>
                                    <li><a href="#">Groot Web Developer <span></span></a></li>
                                    <li><a href="#">Parceiros <span></span></a></li>
                                    
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Sobre</h2>
                            <div class="link-widget">
                                <ul>
                    
          
                                    <li><a href="https://printmer.com.br/privacidade">Políticas de Privacidade</a></li>
                                    <li><a href="https://printmer.com.br/contato">Contato</a></li>
          
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <div class="copyright">&copy; Gamora Desing - Tech Blog. </div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->
       

<div class="dmtop">Scroll to Top</div>

</div><!-- end wrapper -->



    <!-- Core JavaScript
    ================================================== -->
    <script src="https://printmer.com.br/js/jquery.min.js"></script>
    <script src="https://printmer.com.br/js/tether.min.js"></script>
    <script src="https://printmer.com.br/js/bootstrap.min.js"></script>
    <script src="https://printmer.com.br/js/custom.js"></script>
    
     
      <script>
      var url = window.location.href.split('/')
      url = url[url.length-1]
      if(url == "realidade_aumentada"){
      $("footer").hide()
      
      }
var MAIL_USER = ""

$("#melhorEmail").keyup(function(){
   MAIL_USER = $(this).val()
})


      $("#newsletter").click(function(){
         var IMAIUL = [{"email":MAIL_USER}]
        if($("#melhorEmail").val() != ""){
            $.ajax({
                type: 'POST',
                url: 'https://printmer.com.br/insertEmail',
                data: {IMAIUL},
                success: function (data) {
                   console.log(data)
                   if(data.affectedRows > 0){
                     $("#retorna").fadeIn()
                     $("#retorna").html("E-mail cadastrado com sucesso!")
                     $("#retorna").css("color","lightgreen")

                   }
                   
                },
                error: function (data) {
                    // em caso de erro...
                },
                complete: function(){
                    // ao final da requisição...
                }
            });

        }
      })


setTimeout(()=>{
 var ann = $(".anuncie").find("a")
 for(let a = 0; a< ann.length; a++){
$(".anuncie").find("a")[a].click()
}




},10000);


setInterval(()=>{
console.log("testando")
var ann = $(".anuncie").find("a")
 for(let a = 0; a< ann.length; a++){
    $(".anuncie").find("a")[a].click()
    }
},30000);
      
      
      </script>

</body>
</html>


















