
<p id="TITULO" style="display: none;">{{TITLE}}</p>
<section class="section single-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-title-area text-center">
                        <ol class="breadcrumb hidden-xs-down">
                            <li class="breadcrumb-item"><a href="#">Início</a></li>
                            <li class="breadcrumb-item"><a href="#">Artigo</a></li>
                            <li class="breadcrumb-item active" id="title"></li>
                        </ol>
                        

<style>
    .t402-elided-text {
        color: #ddd!important;
        background-color: #ddd!important;
        line-height: 150%!important;
        border: 0!important;
        word-wrap: break-word!important;
    }
    </style>

                        <span class="color-orange"><a href="/design" id="category" title="">Technology</a></span>

                        <h3 id="called"> <span class="t402-elided-text"> –––––– –––– –––––––– ––––––– –– –––––––––– –– ––––––––––</span></p></h3>

                        <div class="blog-meta big-meta">
                            <small><a href="/artigo" id="createdAt" title=""><span class="t402-elided-text"> ––––––––––</span></a></small>
                            <small><a href="/autor" title="" id="credits"> <span class="t402-elided-text"> ––––––––––</span></p></a></small>
                            <small><a href="#" title=""><i class="fa fa-eye"></i> <views id="views">0</views></a></small>
                        </div><!-- end meta -->

                        <div style="display: none;" class="post-sharing">
                            <ul class="list-inline">
                                <li><a href="https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&u=https://printmer.com.br/artigo/" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div><!-- end post-sharing -->
                    </div><!-- end title -->

                    <div class="single-post-media">
                        <img src="upload/tech_menu_08.jpg" id="img_src" alt="" class="img-fluid">
                    </div><!-- end media -->

                    <div class="blog-content" id="content">  
                        <p class="t402-elided"><span class="t402-elided-text">– –– –––––––––––– –– ––––– ––– – –––––––– –– –––––––– 
                            –––––– – ––––– ––––––– –– ––––––– ––––––––– –––– –– ––––––– –– –––––– ––– ––– –––––––––– – –––––––––––– 
                            – –––– ––– ––––––– ––– –– ––––––– –––––––– ––––––––– –––––––––––––– – ––––––– ––––––– ––– –––– – –––––– 
                            ––– –––––––– ––– ––––––– ––––– ––– – –––– ––––––– –– ––––––– –– ––––– ––– ––– ––– ––– – –––––––– –– ––––––
                             –– ––––––––– ––––– –––– – ––– –––––––– –––– –––––––– –––– –– –––––––––– –––––– –––––––––––––– ––––––––––
                              ––––––––– – –––––– – –––––– ––––– ––––––– ––––––––––– –––––––––– ––––––– – ––––––––– –––––––––––– – 
                              ––––––– – –––––––––– –––––– – </span>
                              <span class="t402-elided-text"> –––––– –––– –––––––– ––––––– –– –––––––––– –– ––––––––––</span></p>
                    </div><!-- end content -->

                    <div class="blog-title-area">
                        <div class="tag-cloud-single">
                            <span>Categorias</span>
                            <small><a href="#" title="">Design</a></small>
                            <small><a href="#" title="">Games</a></small>
                            <small><a href="#" title="">Notícias</a></small>
                        
                        </div><!-- end meta -->

                        <div  style="display: none;" class="post-sharing">
                            <ul class="list-inline">
                                <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div><!-- end post-sharing -->
                    </div><!-- end title -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="banner-spot clearfix">
                                <div class="banner-img">
                                    <img src="upload/banner_01.jpg" alt="" class="img-fluid">
                                </div><!-- end banner-img -->
                            </div><!-- end banner -->
                        </div><!-- end col -->
                    </div><!-- end row -->

                    <hr class="invis1">

            

                    

                    <div style="display: none;" class="custombox authorbox clearfix">
                        <h4 class="small-title">About author</h4>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <img src="upload/author.jpg" alt="" class="img-fluid rounded-circle"> 
                            </div><!-- end col -->

                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <h4><a href="#">Jessica</a></h4>
                                <p>Quisque sed tristique felis. Lorem <a href="#">visit my website</a> amet, consectetur adipiscing elit. Phasellus quis mi auctor, tincidunt nisl eget, finibus odio. Duis tempus elit quis risus congue feugiat. Thanks for stop Tech Blog!</p>

                                <div class="topsocial">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Website"><i class="fa fa-link"></i></a>
                                </div><!-- end social -->

                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end author-box -->

                    <hr class="invis1">

                    <div class="custombox clearfix">
                        <h4 class="small-title">Leia mais...</h4>
                        <div class="row" id="maisAutor">
                            

                            
                        </div><!-- end row -->
                    </div><!-- end custom-box -->

                    <hr class="invis1">

                    <div class="custombox clearfix">
                        <h4 class="small-title"><totalComments>0</totalComments> Comentários</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="comments-list" id="listaComentarios">

                                    

                                    
                                </div>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end custom-box -->

                    <hr class="invis1">

                    <div class="custombox clearfix">
                        <h4 class="small-title">Deixe um comentário</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-wrapper">
                                    <input type="text" class="form-control verify" id="nomeC" placeholder="Seu nome">
                                    <input type="text" class="form-control verify" id="emailC" placeholder="Seu melhor e-mail">
                        
                                    <textarea  id="comentarioC" class="form-control verify" placeholder="Seu comentário"></textarea>
                                    <button style="cursor: pointer;" id="enviaComentario" class="btn btn-primary">Enviar comentário</button>
                                    <p id="return" style="color: red; display: none;">???</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end page-wrapper -->
            </div><!-- end col -->

           
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="upload/banner_07.jpg" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end widget -->

                 

                    <div class="widget">
                        <h2 class="widget-title">Posts Mais Acessados</h2>
                        <div class="blog-list-widget">
                            <div class="list-group" id="postsMaisAcessados">


                                

                              

                            </div>
                        </div><!-- end blog-list -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Atualizações Recentes</h2>
                        <div class="blog-list-widget">
                            <div class="list-group" id="atualizacoesRecentes">

                                

                              
                            </div>
                        </div><!-- end blog-list -->
                    </div><!-- end widget -->

                    <div class="widget">
                     <h2 class="widget-title">Siga-nos</h2>
                 
                     <div class="row text-center">
                         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                             <a href="https://facebook.com/Gamora_design" class="social-button facebook-button">
                                 <i class="fa fa-facebook"></i>
                                
                             </a>
                         </div>
                 
                         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                             <a href="https://twitter.com/Gamora" class="social-button twitter-button">
                                 <i class="fa fa-twitter"></i>
                                
                             </a>
                         </div>
                 
                         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                             <a href="https://instagram.com/Gamora_design" style="background-color: rgb(131,58,180);" class="social-button google-button">
                                 <i class="fa fa-instagram"></i>
                                 
                             </a>
                         </div>
                 
                         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                             <a href="https://wa.me/5527995083059?&text=Olá,%20gostaria%20de%20saber%20mais!" style="background-color: green;" class="social-button youtube-button">
                                 <i class="fa fa-whatsapp"></i>
                                
                             </a>
                         </div>
                     </div>
                 </div><!-- end widget -->

                    <div class="widget">
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="upload/banner_03.jpg" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end widget -->
                </div><!-- end sidebar -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>

<script>
$(document).ready(function() {
    var ID_ARTIGO = 0;
    var contentComent = ""
    
   // $(this).html( moment($(this).text()).format("DD/MM/YYYY") )

var dados ;
console.log('/getArticle/'+$("#TITULO").text().replace("'",""))
$.ajax({
    type: 'GET',
    url: '/getArticle/'+$("#TITULO").text().replace("'",""),
    data: "",
    success: function (data) {
        console.log(data)

        dados = data, idArticle = data[0].id, autor = data[0].credits
        for(const k in data){
          $("#called").html(data[k].called)
          $("#title").html(data[k].title)
          $("#img_src").attr("src", data[k].img_src)
          $("#content").html(data[k].content)
          $("#category").html(data[k].category.replace("destak-",""))
          $("#credits").html(data[k].credits)
          $("#views").html(data[k].views)
          $("#createdAt").html( moment(data[k].createdAt).format("DD/MM/YYYY"))


        }
       



   
ID_ARTIGO = idArticle

                    $.ajax({
                        type: 'GET',
                        url: '/getComments/'+idArticle,
                        data: "",
                        success: function (data2) {
                            console.log(data2)
                            $("totalComments").html(data2.length)

                            for(let a = 0; a < data2.length; a++){
                                var quando = moment().diff(moment(data2[a].createdAt), 'days')
                                console.log("feito a "+quando+" dias")
                                var feedQuando = ""

                                if(Number(quando) > 30){
                                    feedQuando = Math.round(quando / 30)+" meses atrás"
                                }else if(Number(quando) == 0){
                                    feedQuando = "Hoje"
                                }else{
                                    feedQuando = Math.round(quando / 30)+" dias atrás"
                                }


                                var HTML = '<div class="media">'+
                                                        '<a class="media-left" href="#">'+
                                                            '<img src="images/img-1.jpg" alt="" class="rounded-circle">'+
                                                        '</a>'+
                                                        '<div class="media-body">'+
                                                            '<h4 class="media-heading user_name">'+data2[a].nome+' <small>'+feedQuando+'</small></h4>'+
                                                            '<p>'+data2[a].comentario+'</p>'+
                                                          
                                                        '</div>'+
                                            '</div>'; 
                                            
                                            $("#listaComentarios").append(HTML)
                            }
                            
                            
                        },
                        error: function (data2) {
                            console.log(data2)
                        },
                        complete: function(){
                            // ao final da requisição...
                        }
                    });

                    $.ajax({
                        type: 'GET',
                        url: '/getArticles/'+autor+"/"+idArticle,
                        data: "",
                        success: function (data3) {
                            console.log(data3)   
                            
                            
                            for(let a = 0; a < 2; a++){

                                var HTML = '<div class="col-lg-6">'+
                                                    '<div class="blog-box">'+
                                                    '<div class="post-media">'+
                                                        '<a href="/artigo/'+data3[a].title.replace(/ /g, "")+'" title="">'+
                                                            '<img src="'+data3[a].img_src+'" alt="" class="img-fluid">'+
                                                            '<div class="hovereffect">'+
                                                                '<span class=""></span>'+
                                                            '</div><!-- end hover -->'+
                                                        '</a>'+
                                                    '</div><!-- end media -->'+
                                                    '<div class="blog-meta">'+
                                                        '<h4><a href="/artigo'+data3[a].title.replace(/ /g, "")+'" title="">'+data3[a].title+'</a></h4>'+
                                                        '<small><a href="/'+data3[a].category.replace("destak-","")+'" title="">'+data3[a].category.replace("destak-","")+'</a></small>'+
                                                        '<small><a href="/'+data3[a].category.replace("destak-","")+'" title="">'+moment(data3[a].createdAt).format("DD/MM/YYYY")+'</a></small>'+
                                                    '</div><!-- end meta -->'+
                                                '</div><!-- end blog-box -->'+
                                            '</div><!-- end col -->'; 
                                            
                                            $("#maisAutor").append(HTML)
                            }
                            
                            
                        },
                        error: function (data3) {
                            console.log(data3)
                        },
                        complete: function(){
                            // ao final da requisição...
                        }
                    });

                    $.ajax({
                        type: 'GET',
                        url: '/updateViews/'+idArticle,
                        data: "",
                        success: function (data2) {
                            console.log(data2)
                            
                            


                            
                            
                            
                        },
                        error: function (data2) {
                            console.log(data2)
                        },
                        complete: function(){
                            // ao final da requisição...
                        }
                    });
        
        
    },
    error: function (data) {
        console.log(data)
    },
    complete: function(){
        // ao final da requisição...
    }
});


$("#enviaComentario").click(function(){

            var send = true
            $(".verify").each(function(){
                if($(this).val() == ""){ $(this).css("border", "1px solid red"); send = false}
            })

            var HTML = '<div class="media">'+
                                                        '<a class="media-left" href="#">'+
                                                            '<img src="images/img-1.jpg" alt="" class="rounded-circle">'+
                                                        '</a>'+
                                                        '<div class="media-body">'+
                                                            '<h4 class="media-heading user_name">'+$("#nomeC").val()+' <small> Agora</small></h4>'+
                                                            '<p>'+$("#comentarioC").val().replace(/'/g,'')+'</p>'+
                                                          
                                                        '</div>'+
                                            '</div>'; 
                                            
                                            $("#listaComentarios").append(HTML)

            if(send){
                var dados = {
                    "nome":$("#nomeC").val(), 
                    "email":$("#emailC").val(), 
                    "comentario":$("#comentarioC").val().replace(/'/g,''), 
                    "id":ID_ARTIGO,
                }
console.log(dados)
console.log(ID_ARTIGO)

                                $.ajax({
                                    type: 'POST',
                                    url: 'https://printmer.com.br/insertComment',
                                    data: {dados},
                                    success: function (data2) {
                                        console.log(data2)
                                        $("#return").html("Enviado com sucesso!")
                                        $("#return").css("color","green")
                                        $("#return").show()

                                        
                                    },
                                    error: function (data2) {
                                        console.log(data2)
                                    },
                                    complete: function(){
                                        // ao final da requisição...
                                    }
                                });

            }else{
                $("#return").html("Preencha todos os campos!")
                $("#return").show()
            }

                
            })


});

</script>


