
<br><br><br><br><br>
<section class="section">
      <div class="container">
<header id="isPasted" style='display: block; background: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: "open sans", -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", sans-serif; font-size: 12px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'>
<div style="margin: 20px auto 0px; width: 100%; padding: 0px; border-bottom: 5px solid rgb(31, 150, 201); position: relative;">

  <h1 style='font-size: 1.5rem !important;font: 700 52px / 62.4px "pt sans narrow", -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", sans-serif; margin: 0px; padding: 0px; letter-spacing: -0.2px;'><a href="https://tecnoblog.net/politica-de-privacidade/" style="background-color: transparent; text-decoration: none; color: rgb(62, 66, 72);" title="Política de privacidade"><tito style="max-width:90%;">Pol&iacute;tica de privacidade</tito></a></h1>
</div>
</header>
<div style='color: rgb(0, 0, 0); font-family: "open sans", -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", sans-serif; font-size: 12px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'>

<p style='color: rgb(85, 85, 85); font-size: 17px; font-weight: 400; line-height: 28.05px; font-family: "open sans", -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", sans-serif; word-break: break-word; margin-block: 1.65em; max-width: 700px; margin-left: auto; margin-right: auto;'>Esta Pol&iacute;tica de Privacidade tem como objetivo definir e explicitar, para sua f&aacute;cil compreens&atilde;o, como tratamos dados pessoais, incluindo aspectos como quais dados que coletamos, as finalidades dessa coleta, quais as bases legais para o tratamento, com quem ser&atilde;o compartilhados e quais os direitos e deveres de cada um dos titulares de dados.</p>
<div style="font-size: 0px; margin: 1em auto; text-align: center; display: block;">
  <br>
</div>

<p style='color: rgb(85, 85, 85); font-size: 17px; font-weight: 400; line-height: 28.05px; font-family: "open sans", -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", sans-serif; word-break: break-word; margin-block: 1.65em; max-width: 700px; margin-left: auto; margin-right: auto;'>Ela se aplica a todos os Usu&aacute;rios de nosso site ou ainda para os servi&ccedil;os que disponibilizamos, conforme definidos abaixo.</p>

<h3 style="margin-block-start: 1.65em; max-width: 700px; margin-left: auto; margin-right: auto; color: rgb(62, 66, 72); font-size: 25px; font-weight: 400;">Defini&ccedil;&otilde;es que aparecem nesta pol&iacute;tica</h3>

<p style='color: rgb(85, 85, 85); font-size: 17px; font-weight: 400; line-height: 28.05px; font-family: "open sans", -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", sans-serif; word-break: break-word; margin-block: 1.65em; max-width: 700px; margin-left: auto; margin-right: auto;'>&ldquo;Usu&aacute;rios&rdquo; significa toda e qualquer pessoa que acesse ou navegue pelo website da Empresa.</p>

<h3 style="margin-block-start: 1.65em; max-width: 700px; margin-left: auto; margin-right: auto; color: rgb(62, 66, 72); font-size: 25px; font-weight: 400;">Dos cookies</h3>

<p style='color: rgb(85, 85, 85); font-size: 17px; font-weight: 400; line-height: 28.05px; font-family: "open sans", -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", sans-serif; word-break: break-word; margin-block: 1.65em; max-width: 700px; margin-left: auto; margin-right: auto;'>N&atilde;o utilizamos cookies.</p>

<h3 style="margin-block-start: 1.65em; max-width: 700px; margin-left: auto; margin-right: auto; color: rgb(62, 66, 72); font-size: 25px; font-weight: 400;">Newsletter</h3>

<p style='color: rgb(85, 85, 85); font-size: 17px; font-weight: 400; line-height: 28.05px; font-family: "open sans", -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", sans-serif; word-break: break-word; margin-block: 1.65em; max-width: 700px; margin-left: auto; margin-right: auto;'>Poderemos estabelecer informativo (quinzenal/mensal) o qual ser&aacute; enviado para seu e-mail cadastrado.</p>

<p style='color: rgb(85, 85, 85); font-size: 17px; font-weight: 400; line-height: 28.05px; font-family: "open sans", -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", sans-serif; word-break: break-word; margin-block: 1.65em; max-width: 700px; margin-left: auto; margin-right: auto;'>Caso tenha se cadastrado para receber a newsletter da Empresa, o&nbsp;USU&Aacute;RIO&nbsp;concorda em receber not&iacute;cias, publicidade personalizada sobre nossos produtos e servi&ccedil;os e outras informa&ccedil;&otilde;es.</p>

<p style='color: rgb(85, 85, 85); font-size: 17px; font-weight: 400; line-height: 28.05px; font-family: "open sans", -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", sans-serif; word-break: break-word; margin-block: 1.65em; max-width: 700px; margin-left: auto; margin-right: auto;'>A nossa Newsletter &nbsp;poder&aacute; incluir noticias ligadas a tecnologia, cobertura de lan&ccedil;amentos nacionais e no exterior, dicas e an&aacute;lises de produtos.</p>

<p style='color: rgb(85, 85, 85); font-size: 17px; font-weight: 400; line-height: 28.05px; font-family: "open sans", -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", sans-serif; word-break: break-word; margin-block: 1.65em; max-width: 700px; margin-left: auto; margin-right: auto;'>Ao se cadastrar para receber a newsletter , o USU&Aacute;RIO consente que, a realizemos uma compila&ccedil;&atilde;o personalizada de not&iacute;cias nos termos acima, eventuais ofertas de parceiros e outras informa&ccedil;&otilde;es, bem como avalie seus padr&otilde;es de uso do site, para o envio de newsletter personalizada que atenda &agrave;s necessidades e interesses do USU&Aacute;RIO.</p>

<h3 style="margin-block-start: 1.65em; max-width: 700px; margin-left: auto; margin-right: auto; color: rgb(62, 66, 72); font-size: 25px; font-weight: 400;">Disposi&ccedil;&otilde;es Gerais</h3>

<p style='color: rgb(85, 85, 85); font-size: 17px; font-weight: 400; line-height: 28.05px; font-family: "open sans", -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", sans-serif; word-break: break-word; margin-block: 1.65em; max-width: 700px; margin-left: auto; margin-right: auto;'>Os termos desta Pol&iacute;tica de Privacidade podem ser alterados a qualquer tempo, conforme a necessidade de sua adequa&ccedil;&atilde;o e revis&atilde;o dos dados coletados e das finalidades pelas quais s&atilde;o tratados, cabendo aos titulares de dados verific&aacute;-la de tempos em tempos.</p>

<p style='color: rgb(85, 85, 85); font-size: 17px; font-weight: 400; line-height: 28.05px; font-family: "open sans", -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", sans-serif; word-break: break-word; margin-block: 1.65em; max-width: 700px; margin-left: auto; margin-right: auto;'>Caso sejam realizadas altera&ccedil;&otilde;es substanciais nas finalidades pelas quais coletamos dados pessoais ou nas bases legais que permitem o tratamento de dados, os titulares de dados afetados ser&atilde;o comunicados, por e-mail, ou mediante aviso destacado na p&aacute;gina inicial do website.</p>

<p style='color: rgb(85, 85, 85); font-size: 17px; font-weight: 400; line-height: 28.05px; font-family: "open sans", -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", sans-serif; word-break: break-word; margin-block: 1.65em; max-width: 700px; margin-left: auto; margin-right: auto;'>Na eventualidade de alguma disposi&ccedil;&atilde;o desta Pol&iacute;tica de Privacidade ser considerada ilegal ou inv&aacute;lida, as demais condi&ccedil;&otilde;es permanecer&atilde;o em pleno vigor e efeito.</p>

<p style='color: rgb(85, 85, 85); font-size: 17px; font-weight: 400; line-height: 28.05px; font-family: "open sans", -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", sans-serif; word-break: break-word; margin-block: 1.65em; max-width: 700px; margin-left: auto; margin-right: auto;'><em>&Uacute;ltima atualiza&ccedil;&atilde;o desta Pol&iacute;tica de Privacidade: 08 de junho de 2021.</em></p>
</div>

<p data-f-id="pbf" style="text-align: center; font-size: 14px; margin-top: 30px; opacity: 0.65; font-family: sans-serif;">Powered by <a href="https://www.froala.com/wysiwyg-editor?pb=1" title="Froala Editor">Froala Editor</a></p>
</div></section>
